@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.smoke {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px; 
    height: 100%;
    pointer-events: none;
    z-index: -1; 
}

.smoke img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    animation: float 5s infinite;
}

.smoke-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100px; /* Adjust width as needed */
    background: url('../assets/smoke.gif') repeat-y;
    background-size: cover;
}

.smoke-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100px; /* Adjust width as needed */
    background: url('../assets/smoke.gif') repeat-y;
    background-size: cover;
}


