@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.smoke {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px; /* Adjust width to fit on the side */
    height: 100%;
    pointer-events: none;
    background: black; /* Solid black background */
}

.smoke img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    animation: float 5s infinite;
}

.smoke.right {
    left: auto;
    right: 0; /* Place on the right side */
}

